<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <title>Code Generator</title>
    <%- include('./partials/css') %>
</head>
<body>
    <%- include('./partials/nav') %>
    
    <div class="container mt-4">
        <%- include('./partials/form') %>
        <%- include('./partials/code') %>
        
        <%- include('./partials/about') %>
    </div>       
    <%- include('./partials/footer') %>
    <%- include('./partials/script') %>
</body>
</html>